<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<h3>
					    审核系统
                    </h3>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column">
					<table class="table" id="table">
						<thead>
							<tr>
								<th>
									申请内容
								</th>
								<th>
									时间
								</th>
								<th>
									图片资料
								</th>
								<th>
									申请类型
								</th>
                                <th id='verify_content'>
                                    通过
                                </th>
                                <th>
                                    不通过
                                </th>
							</tr>
						</thead>
						<tbody>
                            {% for i in list %}
                                <tr>
                                    <td hidden>{{ i['id'] }}</td>
                                    <td>{{ i['content'] }}</td>
                                    <td>{{ i['time'] }}</td>
                                    <td>{{ i['picture'] }}</td>
                                    <td>{{ i['user_type'] }}</td>
                                    <td><a class="btn"  onclick="getcontent(this,0)">√</a></td>
                                    <td><a class="btn" id="content" onclick="javascript:getcontent(this,1)" >X</a></td>
                                </tr>
                            {% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<script>


    function getcontent(obj,is){
        if (is==1) {
            var content = window.prompt('输入');
            var flag = '不通过'
        }else{
            var content = null;
            var flag = '通过';
        }
        //var content = document.forms['form'].verify_content.value
        var $td = $(obj).parents('tr').children('td');
        var id = $td.eq(0).text();
        var type = $td.eq(4).text()
        //window.location='/verifyComplete?id='+id+'&&flag='+flag+'&&type='+type+'&&verify_content='+content
        $.ajax({
                    url:'/verify/verifyComplete?id='+id+'&&flag='+flag+'&&type='+type+'&&verify_content='+content,
                    data:null,
                    type:'get',
                    success:function (data) {
                        if(data=='success'){
                        location.reload();
                        }else {
                            data=eval("("+data+")");
                            $('#msg').html(data.msg);
                        }
                    }
                });
    }
</script>
</body>
</html>